/* TABLE */

.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px 10px;
  vertical-align: middle;
}

.table > thead > tr > th {
  vertical-align: middle;
}

.table > thead > tr > th.tfilter {
  padding: 2px 5px;
  font-weight: 400;
}

.table > thead > tr > th.tfilter > div > label.divFilter {
  font-size: 10px;
}

.div-pagination {
  position: relative;
  top: -10px;
  font-size: 12px;
}

.div-pagination-2 {
  position: relative;
  top: 20px;
  left: -100px;
  float: center;
  text-align: center;
}

.div-pagination-3 {
  all: unset;
  float: right;
  text-align: right;
}

.div-pagination-1 {
  text-align: left;
  float: left;
}

.pagina {
  color: #212529;
}

.table-search-switch > label {
  font-size: 12px;
  padding: 2px 2px;
}

.pagina .pagination {
  margin-bottom: 3px;
}

.div-pagination-2-1 .inputan {
  width: 40px;
  text-align: center;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  color: #212529;
}

.div-pagination-2-1 .inputan:focus {
  border: 1px solid #dee2e6;
}

.div-pagination-2-2 .selectan {
  text-align: center;
  border: 1px solid #dee2e6;
  color: #212529;
}

.div-pagination-2-2 .inputan:focus {
  border: 1px solid #dee2e6;
}
